!.idea/
.idea/*
!.idea/codeStyles/
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.vscode/

.DS_Store

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/maven.config
.mvn/timing.properties
.mvn/local-settings.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.pyc
__pycache__/
venv

.openapi-generator
.openapi-generator-ignore